<%- include('../partials/header') %>
<form action="/skills" method="POST">
    <label for="">
        Skill Name
        <input type="text" name="skill"><br>
    </label>
    <label>
        Description
        <input type="text" name="description"><br>
    </label>
    <button type="submit">Add Skill</button>
</form>
<%- include('../partials/footer') %>